@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');

body {
  background-image: linear-gradient(to right, rgb(109, 109, 147), rgb(236, 245, 151));
  font-family: 'Orbitron', sans-serif;
}

.gamepane {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.circle {
  height: 150px;
  width: 150px;
  /* background-color: red; */
  border-radius: 100%;
  margin: 1rem;
}


.circles_group {
  display: flex;
  justify-content: row;
}

button {
  margin: 2rem;
  font-family: 'Orbitron', sans-serif;
}

.modal {
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.554);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal_box {
  background-color: aliceblue;
  height: 350px;
  width: 350px;
  padding: 1rem;
}

.modal_box li {
  list-style: none;
  margin: 1rem 0;
}

/* .highlightedBtn {
  background-color: blue;
} */

.circle:first-child {
  background-color: red;
}

.circle:nth-child(2) {
  background-color: brown;
}

.circle:nth-child(3) {
  background-color: rgb(100, 26, 26);
}

.circle:last-child {
  background-color: rgb(54, 14, 14);
}

.circle.active {
  background-color: rgb(255, 208, 0);
  /* border: 2px solid black; */
  box-shadow: inset 0 0 10px black;
}