@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');

body {
  background-image: linear-gradient(to right, rgb(190, 190, 237), rgb(151, 236, 245));
  font-family: 'Orbitron', sans-serif;
}

.gamepane {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.circle {
  height: 150px;
  width: 150px;
  /* background-color: red; */
  border-radius: 100%;
  margin: 1rem;
}


.circles_group {
  display: flex;
  justify-content: row;
}

button {
  margin: 2rem;
  font-family: 'Orbitron', sans-serif;
  height: 30px;
  width: 100px;
  border-radius: 5px;
  border: none;
  background-color: aliceblue;
}

button:hover {
  background-color: rgb(255, 233, 225);
}

.modal {
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.602);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal_box {
  background-color: aliceblue;
  height: 350px;
  width: 350px;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.modal_box li {
  list-style: none;
  margin: 1rem 0;
}

/* .highlightedBtn {
  background-color: blue;
} */

.circle:first-child {
  background-color: red;
}

.circle:nth-child(2) {
  background-color: brown;
}

.circle:nth-child(3) {
  background-color: rgb(100, 26, 26);
}

.circle:last-child {
  background-color: rgb(54, 14, 14);
}

.circle.active {
  background-color: white;
  /* background-color: rgb(255, 208, 0); */
  /* border: 2px solid black; */
  box-shadow: inset 0 0 10px black;
  box-shadow: 0 0 10px white;
}

.close {
  background-color: rgb(190, 225, 236);
}

.close:hover {
  background-color: rgb(107, 167, 216);
}

.musicPlayer {
  top: 0;
  right: 0;
  position: absolute;
}

.musicPlayer button {
  background-color: black;
  color: white;
  font-size: 12px;
}